<div class="container-fluid backgroundBody">
    <div class="row">
      <div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
    </div>
    

    <div class="container backgroundBlue col-11">

      <div class="row">
        <div class="col-3"> </div>

        <div class="col-6 backgroundA">
           <div class="flex flex-column">

            <div class="p-3">
              <div class="row">
                <div class="col-4"> </div>
                <div class="col-4"> 
                <img class="img-fluid" width="220px" src="https://i.ibb.co/v19qzjW/85646.png">
                </div>
                <div class="col-4"> </div>
              </div>
            </div>
            <div class="p-3">
              <div class="row">
                <div class="col-6 Font2">
                  <label for="sel1">Seleccionar tipo de documento</label>
                </div>
                <div class="col-6">
                  
                    
                    <select class="form-control" id="sel1" name="sellist1">
                      <option>Cédula de ciudadanía</option>
                      <option>Tarjeta de identidad</option>
                      <option>Cédula de extranjeria</option>
                    </select>

                </div>
            </div>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col-6 Font2">
                        <label for="DI">Documento de Identificación</label>
                    </div>
                    <div class="col-6">
                        <input type="DI" class="form-control" id="ID">
                    </div>
                </div>
            </div>

            <div class="p-3">

              <div class="row">
                <div class="col-3"> </div>
                <div class="col-6 Font">
                    <button type="button" class="btn-dark">VERIFICAR <br> DOCUMENTO</button>
                </div>
                <div class="col-"> </div>
              </div>

            </div>
            
           </div>
          </div>

        <div class="col-3"></div>
      </div>

      <app-footer></app-footer>
    
    </div>

    

  </div>
