.FontC3{
    text-align-last: right;
    padding-top: 8px;
    color: rgb(102,102,102);
    font-size: 14px;
    font-size-adjust: auto;
    font-family: BERNHC;
}

.PiePag{
    background-color: rgb(43,44,44);
}