<div class="row">	
		<div class="col-md-3 col-3 col-sm-3 PiePag" style="max-height: 45px;"> 
			<div class="d-flex">
			<div> <img style="max-height: 45px" class="img-fluid" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> </div>
			<div> <img style="max-height: 45px" class="img-fluid" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> </div>
			<div> <img style="max-height: 45px" class="img-fluid" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div>
		</div>
		</div> 
		<div class="col-md-9 col-sm-9 col-9 PiePag FontC3" style="max-height: 45px;"> 
			© copyright 2019 tourist places Bogotá 
		</div>
	</div>