<div class="container-fluid backgroundBody">
	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>
		  
		
	<div class="container backgroundBlue col-11">

	<div class="row">
		<div class="col-md-12 borde3 border"> </div>
	</div>
					
	<div class="row ">

		<div class="col-1"> </div>

		<div class="col-3 backgroundG border">
			
		</div>

		<div class="col-7 backgroundG border"> 
			<div class="d-flex ">

				<div class="p-2 backgroundAM"> 
					<img class="img-fluid" src="https://i.ibb.co/JHYCg06/09-Fotos.png"> 
				</div>

				<div class="border">
					HOLA
				</div>
			</div>
			
		</div>

		<div class="col-1"> </div>

	</div>
					
	<div class="row">
		<div class="col-md-12 borde3 border"> </div>
	</div>	
			
	<div class="row">	
		<div class="col-md-3 PiePag border"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
		<div class="col-md-9 PiePag FontC3 border"> © copyright 2019 tourist places Bogotá </div>
	</div>

	</div>	
</div>	
