<div class="container-fluid backgroundBody">
	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>
		  
		
	<div class="container backgroundBlue col-11">

	<div class="row">
		<div class="col-md-12 borde3"> </div>
	</div>

	<div class="row ">

		<div class="col-1 borde3"> </div>
		<div class="col-3 borde1 backgroundG"> </div>
		<div class="col-7 borde1 backgroundG"> </div>
		<div class="col-1 borde3"> </div>

	</div>
					
	<div class="row ">

		<div class="col-1"> </div>
		<div style="padding-left:75px; padding-right:0px;" class="col-3 backgroundG ">
			<img class="img-fluid"  width="250px" src="https://i.ibb.co/X4gJLVP/11-Usuario2.png">
			<p class="button1">CAMBIAR IMAGEN</p>
		</div>

		<div style="padding-right:45px; padding-left:0px;" class="col-7 backgroundG"> 

			<div class="backgroundAM"> 
				<div class="d-flex flex-column">
					<div class="p-4 FontDatos" style="text-align: center">DATOS DE USUARIO</div>
					<div class="p-2 FontDatos">
						<form class="form-inline borde2" >
							<label for="nombre" style="padding-right:3%">NOMBRE   </label>
							<input type="nombre" class="form-control" id="nombre" placeholder="Ingresar Nombre" name="nombre">
						</form>
					</div>
					<div class="p-2 FontDatos borde2">
						<form class="form-inline borde2">
							<label for="DI" style="padding-right:18%">D.I </label>
							<input type="DI" class="form-control" id="DI" placeholder="Ingresar D.I" name="DI">
						</form>
					</div>
					<div class="p-2 FontDatos borde2">
						<form class="form-inline borde2">
							<label for="ciu" style="padding-right:6%">CIUDAD </label>
							<input type="ciu" class="form-control" id="ciu" placeholder="Ingresar Ciudad" name="ciu">
						</form>
					</div>
  					<div class="p-2 FontDatos borde2">
							<form class="form-inline borde2">
								<label for="cont" style="padding-right:5%">CONTRASEÑA </label>
								<input type="DI" class="form-control" id="cont" placeholder="********" name="cont">
							</form>
					  </div>
					  <div class="p-2 borde1"></div>
  					<div class="p-4 button" style="margin-left:50%"> EDITAR INFORMACIÓN </div>
				</div>
			</div>
		</div>

		<div class="col-1"> </div>
	</div>

	<div class="row ">

			<div class="col-1 borde3"> </div>
			<div class="col-3 borde1 backgroundG"> </div>
			<div class="col-7 borde1 backgroundG"> </div>
			<div class="col-1 borde3"> </div>
	
		</div>
					
	<div class="row">
		<div class="col-md-12 borde3"> </div>
	</div>	
			
	<div class="row">	
		<div class="col-md-3 PiePag"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
		<div class="col-md-9 PiePag FontC3"> © copyright 2019 tourist places Bogotá </div>
	</div>

	</div>	
</div>	
