<div class="container">
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">

              <div class="backgroundAM"> 
                  <div class="d-flex flex-column">
                    
                    <div class="col_12 FontDatos">INICIAR SESIÓN</div>

                    <div class="p-4 FontDatos" style="text-align: center">DATOS DE USUARIO</div>
                    <div class="p-4 FontDatos">
                      <form class="form-inline" >
                        <div class="col-12">	<label for="nombre">NOMBRE</label> </div>
                        <div class="col-12 centrar">	<input type="nombre" class="form-control" id="nombre" placeholder="Ingresar Nombre" name="nombre"> </div>
                      </form>
                    </div>
                    <div class="p-2 FontDatos">
                      <form class="form-inline">
                        <div class="col-12"> <label for="DI"> CONTRASEÑA </label> </div>
                        <div class="col-12 centrar"> <input type="password" class="form-control" id="cont" placeholder="Ingresar contraseña" name="cont"> </div>
                      </form>
                    </div>

                    <div class="p-4 FontDatos">
              
                          <div class="col-12 centrar"> <button type="button" class="btn-danger" data-dismiss="modal">Iniciar Sesión</button> </div>
    
                      </div>

                  </div>
                </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  
