.modal{
    background-color: rgba(100, 75, 75, 0.8);
}
.backgroundAM{
    background-color: #74B1B9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-box-shadow: 8px 7px 20px -3px rgba(0,0,0,1);
    -moz-box-shadow: 8px 7px 20px -3px rgba(0,0,0,1);
    box-shadow: 8px 7px 20px -3px rgba(0,0,0,1);
}

.FontDatos{
    font-family: BerlinS;
    text-align: center;
    box-align: center;
    font-size: 25px;
    color: rgb(48, 59, 34) ;
    font-display: none;
}

.modal2-header{
    background-color: rgba(75, 75, 75, 0.0);
}

.modal2-title{
    text-align: center;
}

.modal2-content{
    background-color: rgba(204, 204, 204, 0.7);
    border: none;
    padding: 5%;
    border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
}
.centrar{
    padding-left: 25%;
    padding-right: 25%;
}

.btn-danger{
    width:100%;
    background-color: rgba(49,49,49,1);
    border: none;
    color: rgb(189, 189, 189);
    font-size: 22px;
    font-family: BerlinS;
    font-weight: bold;
}
.form-control{
width: 100%;
text-align: center;


}
.R{
display:flex;
flex-direction: row;
align-content: flex-end;
border: none;
}