

<div class="container">
  
  <!-- The Modal -->
  <div class="modal" id="myModal2" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
        </div>
        
        <div class="modal-body">

            <div class="backgroundAM"> 
                <div class="d-flex flex-column">
                  
                  <div class="col_12 FontDatos" class="p-4 FontDatos">REGISTRARSE</div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline"  >
                      <div class="col-12">	<label for="nombre">NOMBRE</label> </div>
                      <div class="col-12 centrar">	<input type="text" class="form-control" id="Nombre" placeholder="Ingresar Nombre" name="nombre"> </div>
                    </form>
                  </div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline" >
                      <div class="col-12" >	<label for="I.D">I.D</label> </div>
                      <div class="col-12 centrar">	<input type="text" class="form-control " id="DI" placeholder="Ingresar Documento de identificación" name="cont2"> </div>
                    </form>
                  </div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline" >
                      <div class="col-12">	<label for="Ciudad">CIUDAD</label> </div>
                      <div class="col-12 centrar">	<input type="text" class="form-control" id="Ciudad" placeholder="Ingresar Ciudad de residencia" name="Ciudad"> </div>
                    </form>
                  </div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline">
                      <div class="col-12"> <label for="DI"> CONTRASEÑA </label> </div>
                      <div class="col-12 centrar"> <input type="password" class="form-control" id="Cont" placeholder="Ingresar contraseña" name="cont"> </div>
                    </form>
                  </div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline">
                      <div class="col-12"> <label for="DI2"> CONFIRMAR CONTRASEÑA </label> </div>
                      <div class="col-12 centrar"> <input type="password" class="form-control" id="Cont1" placeholder="Ingresar  nuevamente la contraseña" name="cont"> </div>
                    </form>
                  </div>
                  <div class="p-2 FontDatos">
                    <form class="form-inline">
                      <div class="col-12"> <img width="20%" class="mx-auto d-block" src="https://i.ibb.co/6bDb5SY/02-Perfil-Usuario.png"    > </div>
                      <div class="col-12 centrar"> <button type="button" class="btn-danger2" data-dismiss="modal">Subir imagen</button> </div>
                    </form>
                  </div>
             
                  <div class="p-4 FontDatos">
                        <div class="col-12 centrar"> <button (click)="registrar()" type="button" class="btn-danger" data-dismiss="modal">Registrarse</button> </div>
                    </div>

                </div>
              </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

