<div class="container-fluid backgroundBody">
	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>
  

     <div class="container backgroundBlue col-11">
			<div class="row">
        <div class="col-md-12 borde3"> </div>
        <div class="col-md-12 borde3"> </div>
     	</div>
			
	<div class="Container backgroundDarkGreen">
    <div class="fonta">
        <p>   SOLICITUD DE ACTUALIZACIÓN</p>
    </div>
    <div class="container-fluid colum">
     <div class="row">
      <div class="col-6 fontb">
        <p>
            Seleccione el sitio turístico que representa
        </p>
      </div>
      <div class="col-6">         
              <select class="form-control" id="sel1" name="sellist1">
                <option>Sitio 1</option>
                <option>Sitio 2</option>
                <option>Sitio 3</option>
              </select>
      </div>
     </div>
     <div class="container-fluid backgroundGreenmin">
      <div class="col-12 fontc"> 
       <p>
          Redactar especificaciones en el cambio de información
       </p>
      </div>
          <div class="row ">
              <div class="colum col-8 ">
                  <div class="borde1 cont2">
                    Modificaciones de Texto
                  </div>
                  <div class="form-group col-12 cont">
                      <input type="text" class="form-control borde1 " id="Mensaje">
                  </div>
                  
              </div>
               
             <div class=" col-4 cont3"> 
               <div class="backgroundGrayBorden">
                  <div class="form-group">
                      <input type="date" name="bday" max="3000-12-31" 
                             min="1000-01-01" class="form-control2">
                    <div>
               </div>
             
                  

                  <div class="fontc">
                   <p>
                      Sugerir una fecha 
                      de publicación
                   </p>
                 </div>
              </div>
            
             </div>
           </div>     
           <div class="col-12 centrar"> <button type="button" class="btn-danger2" data-dismiss="modal">ENVIAR SOLICITUD</button> </div>
     </div>
    </div>
  
		</div>
    
</div>	
<div class="row">	
    <div class="col-md-3 PiePag"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
    <div class="col-md-9 PiePag FontC3"> © copyright 2019 tourist places Bogotá </div>
    </div>
