<!-- ****************************************** INICIO DE LA CABECERA ****************************  -->

<div class="container-fluid backgroundTop"> 

  <div class="container col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">

    <div class="row"> 
      <div class="col-12 d-none d-md-block borde3"> </div>
    </div>

    <div class="row "> 
        <div class="col-xl-9 col-lg-8 col-md-7 col-1 d-none d-md-block"> </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-1 d-none d-md-block" > 
          <div class="iAl" id="cont2" class="nameuser">  </div>
          <div class="iAl" id="cont1" (click)="this.cerr()"><button class="butlogin" type="button"> CERRAR SESIÓN </button></div>

          <div class="iAl" id="cont3"><button  class="butlogin"  type="button" data-toggle="modal" data-target="#myModal"> INICIAR SESIÓN </button></div>
          <div class="iAl" id="cont4" class="butRegister"  type="button1"data-toggle="modal" data-target="#myModal2"> ¿No tienes usuario?   <br> Registrate  </div>
        </div>

        <div class="col-xl-1 col-1 d-none d-md-block"> <img width="65px" class="mx-auto d-block" src="https://i.ibb.co/6bDb5SY/02-Perfil-Usuario.png"> </div>
      </div>

      <div class="row">
          <div class="col-3 col-sm-3 d-md-none d-lg-none d-xl-none">
              <div class="dropdown">
                <button class="dropbtn">
                  
                  <img  class="img-fluid" src="https://i.ibb.co/Htc37tK/12-Btn-Barra.png">

                </button>
                <div class="dropdown-content fonte1 ">
                <a href="#Home" (click)="home=1" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">INICIO</a>
                <a href="#Turismo" (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=1">TURISMO</a>
                <a href="#Descuentos "(click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=1"  (click)="actualizacion=0" (click)="turismo=0">DESCUENTOS</a>
                <a href="#Ayuda" (click)="home=0" (click)="profile=0" (click)="ayuda=1" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">AYUDA</a>
                <a href="#Perfil" id="btnPerfil" (click)="home=0" (click)="profile=1" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">PERFIL</a>
                </div>
              </div>
          </div>
        <div class="col-6 col-sm-6 col-md-4 col-xl-3 align-items-center"> <img  class="Tourist img-fluid mx-auto" src="https://i.ibb.co/kynjhhy/03-Tourist-Places.png"> </div>

        <div class="col-3 col-sm-3 d-md-none d-lg-none d-xl-none">

           
                <div class="dropdown">
                    
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn">
                            <img  class="img-fluid" src="https://i.ibb.co/WBtz20K/13-lupa.png">
                        </button>
                        <div class="dropdown-content" style="right: 0;">
                            <form>
                                <input type="text" name="search" placeholder="Search..">
                              </form>                              
                        </div>
                      </div>
        </div>
        </div>

        <div class="col-xl-2 col-lg-1 col-md-1 d-sm-none d-lg-block ">  </div>
        <div class="col-xl-7 col-lg-7 col-md-8 col-1 d-none d-md-block "> 
            <div class="d-flex flex-column">
                <div class="p-2 borde3 "> </div>
                
                <div >
                    <div routerLinkActive="active" [routerLink]="['inicio']" class="button button1" >
                        INICIO
                      </div>  
                      <div  routerLinkActive="active" [routerLink]="['turismo']" class="button button1"  >
                          TURISMO
                        </div>
                        <div routerLinkActive="active" [routerLink]="['descuentos']" class="button button1" >
                            DESCUENTOS 
                         </div>
                         <div routerLinkActive="active" [routerLink]="['ayuda']" class="button button1"  >
                            AYUDA
                          </div>
                    <button routerLinkActive="active" [routerLink]="['perfil']" class="button button1"
                    id="bPerfil" > 
                        PERFIL
                    </button>           
                </div> 
                <!--
                <div class="buttonOculto">
                    <div  class="button button1" style="width:50%"  (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=1" (click)="turismo=0">
                        SOLICITAR ACTUALIZACIÓN
                     </div>  
                 </div>-->
              </div>
        </div>

      </div>

  </div>

</div>


<!-- ****************************************** FINAL DE LA CABECERA ****************************  -->
<router-outlet></router-outlet>

<app-iniciar-sesion ></app-iniciar-sesion>
<app-registrarse ></app-registrarse>
<!--
<app-inicio > </app-inicio>
<app-perfil > </app-perfil>
<app-ayuda ></app-ayuda>
<app-descuentos ></app-descuentos>
<app-actualizacion-d ></app-actualizacion-d>
<app-turismo > </app-turismo>
<app-solicitud > </app-solicitud>
-->

