<!-- ****************************************** INICIO DE LA CABECERA ****************************  -->

<div class="container-fluid backgroundTop"> 

  <div class="container-md col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">

    <div class="row"> 
      <div class="col-12 d-none d-md-block borde3"> </div>
    </div>

    <div class="row "> 
        <div class="col-xl-9 col-lg-8 col-md-7 col-1 d-none d-md-block"> </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-1 d-none d-md-block"> 
          <div><button class="butlogin"  type="button" data-toggle="modal" data-target="#myModal"> INICIAR SESIÓN </button></div>
          <div class="butRegister"  type="button1"data-toggle="modal" data-target="#myModal2"> ¿No tienes usuario?   <br> Registrate  </div>
        </div>
        <div class="col-xl-1 col-1 d-none d-md-block"> <img width="65px" class="mx-auto d-block" src="https://i.ibb.co/6bDb5SY/02-Perfil-Usuario.png"> </div>
      </div>

      <div class="row">
          <div class="col-3 col-sm-3 d-md-none d-lg-none d-xl-none">
              <div class="dropdown">
                <button class="dropbtn">
                  
                  <img  class="img-fluid" src="https://i.ibb.co/Htc37tK/12-Btn-Barra.png">

                </button>
                <div class="dropdown-content fonte1 ">
                <a href="#Home" (click)="home=1" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">INICIO</a>
                <a href="#Turismo" (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=1">TURISMO</a>
                <a href="#Descuentos "(click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=1"  (click)="actualizacion=0" (click)="turismo=0">DESCUENTOS</a>
                <a href="#Ayuda" (click)="home=0" (click)="profile=0" (click)="ayuda=1" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">AYUDA</a>
                <a href="#Perfil" (click)="home=0" (click)="profile=1" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">PERFIL</a>
                </div>
              </div>
          </div>
        <div class="col-6 col-sm-6 col-md-4 col-xl-3 align-items-center"> <img  class="Tourist img-fluid mx-auto" src="https://i.ibb.co/kynjhhy/03-Tourist-Places.png"> </div>

        <div class="col-3 col-sm-3 d-md-none d-lg-none d-xl-none">

          <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>

          

        </div>


        <div class="col-xl-2 col-lg-1 col-md-1 d-none d-lg-block ">  </div>
        <div class="col-xl-7 col-lg-7 col-md-8 col-1 d-none d-md-block "> 
            <div class="d-flex flex-column">
                <div class="p-2 borde3"> </div>
                
                <div >
                    <div class="button button1"  (click)="home=0" (click)="profile=1" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0"> 
                        PERFIL
                       </div>   
                    <div class="button button1"  (click)="home=0" (click)="profile=0" (click)="ayuda=1" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0">
                        AYUDA
                      </div>
                    <div class="button button1"  (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=1"  (click)="actualizacion=0" (click)="turismo=0" >
                        DESCUENTOS 
                     </div>
                    <div class="button button1"  (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=1">
                        TURISMO
                      </div>
                  <div class="button button1" (click)="home=1" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=0" (click)="turismo=0" >
                    INICIO
                  </div>                 
                </div> 
                <div class="buttonOculto">
                    <div  class="button button1" style="width:50%"  (click)="home=0" (click)="profile=0" (click)="ayuda=0" (click)="descuento=0"  (click)="actualizacion=1" (click)="turismo=0">
                        SOLICITAR ACTUALIZACIÓN
                     </div>  
                 </div>
              </div>
        </div>

      </div>

  </div>

</div>

<!-- ****************************************** FINAL DE LA CABECERA ****************************  -->
<app-iniciar-sesion ></app-iniciar-sesion>
<app-registrarse ></app-registrarse>
<app-inicio *ngIf="home"> </app-inicio>
<app-perfil *ngIf="profile"> </app-perfil>
<app-ayuda *ngIf="ayuda"></app-ayuda>
<app-adst-descuento *ngIf="descuento"></app-adst-descuento>
<app-actualizacion-d *ngIf="actualizacion"></app-actualizacion-d>
<app-descuentos *ngIf="show"></app-descuentos>
<app-turismo *ngIf="turismo" > </app-turismo>
<app-solicitud *ngIf="solicitud"> </app-solicitud>

