@font-face{
    font-family: Eras;
    src: url("font/ErasBoldITC.ttf");
}
@font-face{
    font-family: BERNHC;
    src: url("font/BERNHC.TTF");
}
@font-face{
    font-family: BRITANIC;
    src: url("font/BRITANIC.TTF");
}
@font-face{
    font-family: calisto;
    src: url("font/CalistoMTFett.ttf");
}

@font-face{
    font-family: BerlinS;
    src: url("font/BerlinSansFBDemiBold.ttf");
}
@font-face{
 font-family: Haettenschweiler;
 src:  url("font/Haettenschweiler.ttf")
}

.backgroundBlue{
    background-image: url(https://i.ibb.co/xftmZb0/07-Fondo-Azul-full.png);	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
   
}

.backgroundBody{
    background-image: url(https://i.ibb.co/HpCkxLZ/04-Fondo-Blanco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
