@font-face{
    font-family: Eras;
    src: url("font/ErasBoldITC.ttf");
}
@font-face{
    font-family: BERNHC;
    src: url("font/BERNHC.TTF");
}
@font-face{
    font-family: BRITANIC;
    src: url("font/BRITANIC.TTF");
}
@font-face{
    font-family: calisto;
    src: url("font/CalistoMTFett.ttf");
}

