<!-- ******************INICIO COMIENZO****************** -->

<div class="container-fluid backgroundTop"> 

  <div class="container">

    <div class="row"> 
      <div class="col-12 d-none d-md-block borde3"> </div>
    </div>

    <div class="row "> 
        <div class="col-xl-9 col-lg-8 col-md-7 col-1 d-none d-md-block"> </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-1 d-none d-md-block"> 
          <div><button class="butlogin"> INICIAR SESIÓN </button></div>
          <div class="FontUser"> ¿No tienes usuario?<br> Registrate  </div>
        </div>
        <div class="col-xl-1 col-1 d-none d-md-block"> <img width="65px" class="mx-auto d-block" src="https://i.ibb.co/6bDb5SY/02-Perfil-Usuario.png"> </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 col-xl-3 "> <img class="Tourist mx-auto d-block" src="https://i.ibb.co/kynjhhy/03-Tourist-Places.png"> </div>
        <div class="col-xl-2 col-lg-1 col-md-1 d-none d-lg-block ">  </div>
        <div class="col-xl-7 col-lg-7 col-md-8 col-1 d-none d-md-block "> 
            <div class="d-flex flex-column">
                <div class="p-2 borde3"> </div>
                <div> 
                  <div class="button button1">
                    INICIO
                  </div>
                  <div class="button button1">
                    TURISMO
                  </div>
                  <div class="button button1">
                     DESCUENTOS
                  </div>
                  <div class="button button1">
                    AYUDA
                  </div>
                  <div class="button button1">
                   PERFIL
                  </div>
                                   
                </div> 
              </div>
        </div>

      </div>

  </div>

</div>

<div class="container-fluid backgroundBody">
		<div class="row">
			<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
		</div>
		
<div class="container backgroundBlue">
			<div class="row">
        <div class="col-md-12 borde3"> </div>
        <div class="col-md-12 borde3"> </div>
			</div>
			
			<div class="row">
				<div class="col-xl-5 col-lg-6 col-md-10 col-12 backgroundCuadro">
					<div class="d-flex flex-column text-white ">
 						 <div class="p-2 borde2"> </div>
 						 <div class="FontC1"> ¡ES HORA<br> DE CONOCER BOGOTÁ!<br> NOSOTROS TE AYUDAMOS</div>
  					 <div class="FontC2">
							 Encuentra las mejores experiencias<br> consigue los mejores descuentos
						 </div>
						 <div class="p-2 borde2"> </div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-6 col-md-12 col-12"> <img class="img-fluid" src="https://i.ibb.co/JHYCg06/09-Fotos.png"> </div>
			</div>
			
			<div class="row">
        <div class="col-md-12 borde3"> </div>
	 		</div>	
	
			<div class="row">	
				<div class="col-md-3 PiePag"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
				<div class="col-md-9 PiePag FontC3"> © copyright 2019 tourist places Bogotá </div>
			</div>
	</div>	

<!-- ******************INICIO FIN****************** -->
