<div class="container-fluid backgroundBody">

	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>
  

    <div class="container backgroundBlue col-11">

      <div class="container">
      <div class="row">

        <div class="col-7 backc1">
          <div class="flex flex-column">
            <div class="col-12 font">
              ADQUIRIR DESCUENTOS
            </div>

            <div class="col-12">
              <div class="container col-12">

                <div class="flex flex-column">

                  <div class="col-12 font1">
                    <div class="d-flex">
                        <div class="p-2 flex-fill">NOMBRE DE SITIO</div>
                        <div class="p-2 flex-fill" style="text-align: right">AGREGAR</div>
                    </div>
                  </div>

                  <div class="col-12 backv font3">
                    <div class="flex flex-column">

                      <div class="p-4 backc3"> 
                        <div class="row">
                              <div class="col-10">SITIO 1</div>
                              
                              <div class="col-2">
                             NO
                              </div>
                            </div>
                      </div>

                     <div class="p-4 backc3"> 
                        <div class="row">
                              <div class="col-10">SITIO 1</div>
                              
                              <div class="col-2">
                             NO
                              </div>
                            </div>
                      </div>

                      <div class="p-4 backc3"> 
                          <div class="row">
                                <div class="col-10">SITIO 1</div>
                                
                                <div class="col-2">
                               NO
                                </div>
                              </div>
                        </div>
                      
                      <div class="p-4 backc3"> 
                        <div class="row">
                              <div class="col-10">SITIO 1</div>
                              
                              <div class="col-2">
                             NO
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-9 p-3 font1">
                Productos Seleccionados: 
              </div>  
              <div class="col-3 p-3 ">
                <div class="button">CONFIRMAR ADQUISICIÓN</div> 
              </div>  
            </div>
        </div>
        </div>

        <div class="col-5 backc2">
          <div class="flex flex-column">
            <div class="col-12 font">
               HISTORIAL DE DESCUENTOS OBTENIDOS
             </div>

             <div class="col-12 backc4 font2">
                <div class="flex flex-column">

                  <div class="backc5">
                    <div class="row">
                      <div class="col-6">SITIO 1</div>
                      <div class="col-6" style="text-align:right">25% <br>07/11/19 </div>
                    </div>
                  </div>
                  <div class="backc5"> 
                      <div class="row">
                          <div class="col-6">SITIO 2</div>
                          <div class="col-6" style="text-align:right">20% <br>12/06/19 </div>
                      </div>
                    </div>

                </div>
             </div>

             <div class="row">
               <div class="col-4"></div>
               <div class="col-7 backc6">
                  <div class="row">
                    <div class="col-7 font3"> TOTAL <br> ADQUIRIDO </div>
                    <div class="col-5 font"> 2/5 </div>
                  </div>
               </div>
             </div>
             
             <div class="col-12 font">
                <input type="date" name="bday" max="3000-12-31" 
                             min="1000-01-01" class="form-control">
                    <div>
             </div>

           </div>

        </div>

      </div>
      </div>

      <app-footer></app-footer>

  </div>

</div>
