<div class="container-fluid backgroundBody">

	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>

    <div class="container backgroundBlue col-xs-12 col-sm-12 col-md-11 col-xl-11">

      <div class="container col-xs-12 col-sm-12 col-md-11 col-xl-11">
      <div class="row">

        <div class="col-xl-7 col-md-12 col-sm-12 col-xd-12 backc1">
          <div class="flex flex-column">
            <div class="col-12 font">
              ADQUIRIR DESCUENTOS
            </div>

            <div class="col-12">
              <div class="container col-12">

                <div class="flex flex-column">

                  <div class="col-12 font1">
                    <div class="d-flex">
                        <div class="p-2 flex-fill">NOMBRE DE SITIO</div>
                        <div class="p-2 flex-fill" style="text-align: right">AGREGAR</div>
                    </div>
                  </div>

                  <div class="col-12 backv font3">
                    <div *ngFor="let descuento of descuentos" class="flex flex-column">

                      <div class="p-4 backc3"> 
                        <div class="row">
                              <div class="col-10"> {{ descuento.Lugar }} <br> {{ descuento.oferta }} </div>
                              
                              <div class="col-2 ">
                                <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                              </div>
                            </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xl-9 col-md-9 col-sm-12 p-3 font1">
                Productos Seleccionados: 
              </div>  
              <div class="col-xl-3 col-md-3 col-sm-12 p-3 ">
                <div class="button1">CONFIRMAR ADQUISICIÓN</div> 
              </div>  
            </div>
        </div>
        </div>

        <div id="Hdes" class="col-xl-5 col-md-12 col-sm-12 col-xd-12 backc2">
          <div class="flex flex-column">
            <div class="col-12 font">
               HISTORIAL DE DESCUENTOS OBTENIDOS
             </div>

             <div class="col-12 backc4 font2">
                <div class="flex flex-column">

                  <div class="backc5">
                    <div class="row">
                      <div class="col-6">SITIO 1</div>
                      <div class="col-6" style="text-align:right">25% <br>07/11/19 </div>
                    </div>
                  </div>
                  <div class="backc5"> 
                      <div class="row">
                          <div class="col-6">SITIO 2</div>
                          <div class="col-6" style="text-align:right">20% <br>12/06/19 </div>
                      </div>
                    </div>

                </div>
             </div>

             <div class="row">
               <div class="col-4"></div>
               <div class="col-7 backc6">
                  <div class="row">
                    <div class="col-7 font3"> TOTAL <br> ADQUIRIDO </div>
                    <div class="col-5 font"> 2/5 </div>
                  </div>
               </div>
             </div>
             
             <div class="col-12 font">
                <input type="date" name="bday" max="3000-12-31" 
                             min="1000-01-01" class="form-control">
                    <div>
             </div>

           </div>

        </div>

      </div>
      </div>

     
  </div>

  <div class="row">
    <div class="col-3"> </div>

    <div class="col-6 backgroundA">
       <div class="flex flex-column">

        <div class="p-3">
          <div class="row">
            <div class="col-4"> </div>
            <div class="col-4"> 
            <img class="img-fluid" width="220px" src="https://i.ibb.co/v19qzjW/85646.png">
            </div>
            <div class="col-4"> </div>
          </div>
        </div>
        <div class="p-3">
          <div class="row">
            <div class="col-6 Font2">
              <label for="sel1">Seleccionar tipo de documento</label>
            </div>
            <div class="col-6">
              
                
                <select class="form-control" id="sel1" name="sellist1">
                  <option>Cédula de ciudadanía</option>
                  <option>Tarjeta de identidad</option>
                  <option>Cédula de extranjeria</option>
                </select>

            </div>
        </div>
        </div>
        <div class="p-3">
            <div class="row">
                <div class="col-6 Font2">
                    <label for="DI">Documento de Identificación</label>
                </div>
                <div class="col-6">
                    <input type="DI" class="form-control" id="ID">
                </div>
            </div>
        </div>

        <div class="p-3">

          <div class="row">
            <div class="col-3"> </div>
            <div class="col-6 Font">
                <button type="button" class="btn-dark">VERIFICAR <br> DOCUMENTO</button>
            </div>
            <div class="col-"> </div>
          </div>

        </div>
        
       </div>
      </div>

    <div class="col-3"></div>
  </div>

  <app-footer></app-footer>
</div>
