.backgroundBlue{
   
    background-image: url(https://i.ibb.co/xftmZb0/07-Fondo-Azul-full.png);	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width:auto;
}

.backgroundBody{
    
    background-image: url(https://i.ibb.co/HpCkxLZ/04-Fondo-Blanco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-right: 2%;
    padding-left: 2%;
    width:100%;
}
.backgroundOption{
    
    background-color: #345C53;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 2%;
    margin-right:10% ;
    margin-left: 1%;
    margin-bottom: -1%;
    width:94%;
}
.backgroundContactos{
    background-color:#2B2C2C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 0px solid #000000;
    margin-left: 3%;
    margin-right: 4%;
    width:76%;
}
.backgroundContactos2{
    background-color:#2B2C2C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 22%;
    margin-left: 1%;
    width: auto;
   height: 60%;
}

.backgroundContactos1{
    background-position: top;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    width:100%;
    
}
.backgroundvideo
  {
      display: flex;
      align-content: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;


}
.bordeLineas{
    border: 8px solid #2C2B2B;
}
.borde1{
    margin: 10%;
} 

.row6{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1%;
    margin-left: -1%;
    margin-bottom: 2.5%;
    width: 100%;
}
.row3{

    display: flex;
     flex-direction: row;
     margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 4%;
  
}
.row2{
    display: flex;
    justify-content: center;
    margin-left:  2%;
    margin-right:  2%;
    margin-top:  1.5%;
    width:100%;
}
.row4{

    display: flex;
     flex-direction: row;
    margin-right: -1%;
    margin-left: 2%;
    margin-bottom: 2%;

}
.row5{

    display: flex;
 flex-direction: row;
    margin-right: -1%;
    margin-left: 2%;
    margin-bottom: 2%;
 
}
.bordeblue{
  margin-top: 5%;
  padding-top: 5%;
}
.FontC1{
    margin-top: 1.5%;
    text-align: center;
    font-size: 3.53125em;
    color: #8BC2C1;
    line-height: 1em;
    font-family: Haettenschweiler;
    text-shadow: 2px 2px 4px black;
  
}
.FontC2{
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
    font-size: 1.94em;
    color: white;
    line-height: 30px;
    font-family: BRITANIC;
    text-shadow: 2px 2px 4px black;


}
.FontC4{
    margin-top: 2%;
    text-align: left;
    font-size: 2em;
    color:#B1D3C1;
    line-height: 30px;
    font-family: BRITANIC;
}
.FontC5{
  
    text-align: center;
    font-size: 3.125em;
    color: white;
    line-height: 30px;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: BRITANIC;
}

.Vertical{
   
    height: auto;
    display:flex;
    justify-content: left;
    flex-direction:column;
    margin: 8% 8% 8% 8%;
}
.Vertical1{
   
    height: auto;
    display:flex;
    justify-content: center;
    margin: 8% 8% 8% 8%;
}

