<div class="container-fluid backgroundBody">
    <div class="row">
        <div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
      </div>
  <div class="container-fuild backgroundBlue">
      <div> 
        <div>
         <div class="bordeblue">
           <p class="FontC1">
            ¿Tienes problemas para guiarte<br>
            por nuestra pagina?<br>
            Mira nuestro Video tutorial
           </p>
         </div>
         <div>
         </div>
           <div class="backgroundOption">
             <div class="row">
              <div class="row2">
                  <div class="backgroundvideo">
                   <div>
                     <p class="FontC2"> TUTORIAL    </p>
                        <div class="row"> </div>



                   </div>
                  </div>
      
                    
                  <div class="backgroundContactos1" >
                    <div class="Vertical">
                       <div class="backgroundContactos">
                          <p class="FontC5"> CONTACTOS    </p>

                       </div>
                       <div class="bordeLineas">
                            <div class="Vertical">
                                  <div class="row3">
                                    <div class="row5">
                                    <img src="https://i.ibb.co/P19GhC1/phone-call-auricular-symbol-in-black-icon-icons-com-56483-1.png" width="93px" height="93px">
                                    </div>
                                    <div  class="FontC4">
                                     <p class="row5">
                                        Envianos un mensaje al correo 
                                        touristplacesbogota.com
                                     </p>
                                    </div>
                                  </div>
                                   <div class="row5">
                                      <div class="row5">
                                          <img src="https://i.ibb.co/26Jdv6Y/mail-email-message-electronic-online-web-icon-icons-com-59986.png" width="93px" height="93px">
                                          </div>
                                          <div  class="FontC4">
                                           <p class="row5">
                                              Llamanos a la linea telefonico<br>
                                              123 33 33
                                           </p>
                                          </div>

                                   </div>
                         </div>

                        </div>


                    </div>
                  </div>       
               </div>
                <div>
                </div>
              </div>

           </div>


         
        </div>
      </div>

   </div>

   <div class="row">	
      <div class="col-md-3 PiePag"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
      <div class="col-md-9 PiePag FontC3"> © copyright 2019 tourist places Bogotá </div>
    </div>


</div>	