.backgroundBlue{
   
    background-image: url(https://i.ibb.co/xftmZb0/07-Fondo-Azul-full.png);	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 0%;
    padding-bottom: 0;

    width:100%;
}

.backgroundBody{
    
    background-image: url(https://i.ibb.co/HpCkxLZ/04-Fondo-Blanco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-right: 97px;
    padding-left: 97px;
    width:100%;
}
.backgroundOption{
    
    background-color: #345C53;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 62px;
    margin-right: 400px ;
    margin-left: 52px;
    margin-bottom: -20px;
    width:94%;
}
.backgroundContactos{
    background-color:#2B2C2C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 0px solid #000000;
    margin-top: 0px;
    margin-left: 89px;
    margin-right: 112px;
    width:76%;
}
.backgroundContactos2{
    background-color:#2B2C2C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 77px;
    margin-left: 52px;
    width: 600px;
    height: 400px;
    width: 100%;
}

.backgroundContactos1{
    background-position: top;
    margin-top: 38px;
    margin-left: 52px;
    margin-bottom: 52px;
    margin-right: 52px;
    width:100%;
}
.backgroundvideo
  {
      display: flex;
      align-content: center;
      justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;


}
.bordeLineas{
    border: 8px solid #2C2B2B;
}
.borde1{
    margin: 10%;
} 

.row6{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 47px;
    width: 100%;
}
.row3{

    display: flex;
     flex-direction: row;
     margin-top: 51px;
    margin-right: 0px;
    margin-left: 24px;
    margin-bottom: 52px;
  
}
.row2{
    display: flex;
    justify-content: center;
    margin-left:  52px;
    margin-right:  52px;
    margin-top:  31px;
    width:100%;
}
.row4{

    display: flex;
     flex-direction: row;
    margin-right: -15px;
    margin-left: 46px;
    margin-bottom: 52px;

}
.row5{

    display: flex;
 flex-direction: row;
    margin-right: -15px;
    margin-left: 24px;
    margin-bottom: 28px;
 
}
.bordeblue{
  margin-top: 5%;
  padding-top: 5%;
}
.FontC1{
    margin-top: 20px;
    text-align: center;
    font-size: 3.53125em;
    color: #8BC2C1;
    line-height: 1em;
    font-family: Haettenschweiler;
    text-shadow: 2px 2px 4px black;
  
}
.FontC2{
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    font-size: 1.94em;
    color: white;
    line-height: 30px;
    font-family: BRITANIC;
    text-shadow: 2px 2px 4px black;


}
.FontC4{
    margin-top: 20px;
    text-align: left;
    font-size: 2em;
    color:#B1D3C1;
    line-height: 30px;
    font-family: BRITANIC;
}
.FontC5{
  
    text-align: center;
    font-size: 3.125em;
    color: white;
    line-height: 30px;
    margin-top: 28px;
    margin-bottom: 36px;
    font-family: BRITANIC;
}

.Vertical{
   
    height: auto;
    display:flex;
    justify-content: left;
    flex-direction:column;
}
