<div class="container-fluid backgroundBody">
    <div class="row">
        <div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
      </div>
  <div class="container-fuild backgroundBlue col-12">
      <div> 
        <div>
         <div class="bordeblue col-xl-12 ">
           <p class="FontC1">
            ¿Tienes problemas para guiarte<br>
            por nuestra página?<br>
            Mira nuestro Video tutorial
           </p>
         </div>
         <div>
         </div>
           <div class="backgroundOption col-12">
             <div class="row6 col-12">
              <div class="row2 ">
                  <div class="backgroundvideo col-6">
                   <div class="row2" > 
                     
                        <div class="row6 col-xl-12">
                          <div class="backgroundContactos2 col-12" >
                              <p class="FontC2"> TUTORIAL    </p>
                            <div class="backgroundvideo col-12" >
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qj8FqXsB3Ks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                                
                          </div>
                        </div>



                   </div>
                  </div>
      
                    
                  <div class="backgroundContactos1 col-6" >
                    <div class="Vertical">
                       <div class="backgroundContactos">
                          <p class="FontC5"> CONTÁCTANOS    </p>

                       </div>
                       <div class="bordeLineas col-12">
                            <div class="Vertical1">
                                 

                                <div id="after_submit"></div>
                                <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                                  <div class="container-fluid row">
                                    <label class="required" for="name">NOMBRE:</label><br />
                                    <input id="name" class="input" name="name" type="text" value="" size="64" /><br />
                                    <span id="name_validation" class="error_message"></span>
                                  </div>
                                  <div class="container-fluid row">
                                    <label class="required" for="email">EMAIL:</label><br />
                                    <input id="email" class="input" name="email" type="text" value="" size="64" /><br />
                                    <span id="email_validation" class="error_message"></span>
                                  </div>
                                  <div class=" container-fluid row">
                                    <label class="required" for="message">MENSAJE:</label><br />
                                    <textarea id="message" class="input" name="message" rows="7" cols="70"></textarea><br />
                                    <span id="message_validation" class="error_message"></span>
                                  </div>
                                    
                                    <input id="submit_button" type="submit" value="Send email" />
                                </form>
                         </div>

                        </div>


                    </div>
                  </div>       
               </div>
                <div>
                </div>
              </div>

           </div>


         
        </div>
      </div>
      <app-footer></app-footer>
  
   </div>

  

</div>	