<div class="container-fluid backgroundBody">
    <div class="row">
        <div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
      </div>
  <div class="container-fuild backgroundBlue col-12">
     
        <div class="bordeblue col-12 ">
            <p class="FontC1">
             ¿Tienes problemas para guiarte<br>
             por nuestra página?<br>
             Mira nuestro Video tutorial
            </p>
          </div>
          di
          <div class="row backgroundOption col-12">
              
                     <div  class="colum backgroundContactos2 col-xs-12	col-sm-12	col-md-12 col-lg-6	col-xl-6">
                      
                      <div class="container-fuild">
                        <p class="FontC2"> TUTORIAL    </p>
                      <div>
                        <iframe  class="video"  src="https://www.youtube.com/embed/qj8FqXsB3Ks"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
                      </div>
                          
                   
                     </div>
                     </div>
                     
                      <div class=" backgroundContactos1 col-xs-12	col-sm-12	col-md-12 col-lg-6	col-xl-6 " >
                        <div class="columm ">
                            <div class="backgroundContactos">
                                <p class="FontC5"> CONTÁCTANOS</p>
                             </div>
                             <div class="bordeLineas">
                                <div id="after_submit"></div>
                                <form #mensajeuForm ="ngForm" (ngSubmit)="enviar(mensajeuForm)">
                                  <div class="container-fluid col-12">
                                    <label class="required" for="name">NOMBRE:</label><br />
                                    <input id="name" class="input" name="name" type="text" #nombre="ngModel" [(ngModel)]="mensaje.nombre" value="" size="30" /><br />
                                    <span id="name_validation" class="error_message"></span>
                                  </div>
                                  <div class="container-fluid col-12 ">
                                    <label class="required" for="email">EMAIL:</label><br />
                                    <input id="email" class="input" name="email" type="text" #correo="ngModel" [(ngModel)]="mensaje.correo" value="" size="35" /><br />
                                    <span id="email_validation" class="error_message"></span>
                                  </div>
                                  <div  class="container col-12 " >
                                    <label class="required" for="message">MENSAJE:</label><br />
                                    <textarea id="message" class="input" name="message" #message="ngModel" [(ngModel)]="mensaje.message" rows="15" cols="55"></textarea><br />
                                    <span id="message_validation" class="error_message"></span>
                                  </div>
                                    <button (click)="enviar(mensajeuForm)" type="button" class="btn-danger" data-dismiss="modal">Enviar</button> 
                                </form>
                             </div>
                        </div>
                          
                           
                      </div>
                 </div>
 


    <app-footer></app-footer>
  
   </div>

   

</div>	