<div class="container-fluid backgroundBody">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-12 d-none d-md-block  borde3"> </div>
	</div>
  

  <div class="container backgroundBlue col-xs-12 col-sm-12 col-md-11 col-xl-11">
			<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 d-none d-md-block borde3"> </div>
        <div class="col-md-12 d-xs-none borde3"> </div>
	</div>
			
	<div class="row">
	  <div class="col-xl-5 col-lg-6 col-md-5 col-12 container backgroundCuadro">
			<div class="d-flex flex-column text-white ">
 				<div class="p-2 borde2"> </div>
 				<div class="FontC1"> ¡ES HORA<br> DE CONOCER BOGOTÁ!<br> NOSOTROS TE AYUDAMOS</div>
  			<div class="FontC2">
					Encuentra las mejores experiencias<br> consigue los mejores descuentos
				</div>
				<div class="p-2 borde2"> </div>
				</div>
			</div>
		<div class="col-xl-7 col-lg-6 col-md-7 col-12"> <img class="img-fluid" src="https://i.ibb.co/JHYCg06/09-Fotos.png"> </div>
	</div>
			
	<div class="row">
    <div class="col-md-12 borde3"> </div>
	</div>	
	
	<app-footer></app-footer>

	</div>	
</div>	

