<div class="container-fluid backgroundBody">
	<div class="row">
		<div class="col-xl-12 col-1 d-none d-md-block borde3"> </div>
	</div>
  

  <div class="container-fluid backgroundBlue">
			<div class="row">
        <div class="col-md-12 borde3"> </div>
        <div class="col-md-12 borde3"> </div>
	</div>
			
	<div class="row">
	  <div class="col-xl-5 col-lg-6 col-md-5 col-12 backgroundCuadro">
			<div class="d-flex flex-column text-white ">
 				<div class="p-2 borde2"> </div>
 				<div class="FontC1"> ¡ES HORA<br> DE CONOCER BOGOTÁ!<br> NOSOTROS TE AYUDAMOS</div>
  			<div class="FontC2">
					Encuentra las mejores experiencias<br> consigue los mejores descuentos
				</div>
				<div class="p-2 borde2"> </div>
				</div>
			</div>
		<div class="col-xl-7 col-lg-6 col-md-7 col-12"> <img class="img-fluid" src="https://i.ibb.co/JHYCg06/09-Fotos.png"> </div>
	</div>
			
	<div class="row">
    <div class="col-md-12 borde3"> </div>
	</div>	
	
	<div class="row">	
		<div class="col-md-3 PiePag"> <img width="41px" src="https://i.ibb.co/KDJ4vw5/10-ico1.png"> <img width="41px" src="https://i.ibb.co/DCkgNxq/10-ico2.png"> <img width="41px" src="https://i.ibb.co/YZ72WLB/10-ico3.png"> </div> 
		<div class="col-md-9 PiePag FontC3"> © copyright 2019 tourist places Bogotá </div>
		</div>
	</div>	