

<div class="container-fluid backgroundBody">
	<div class="row">
    <div class="col-xl-12 col-1 d-none d-md-block borde3"> </div> 
  </div>
  
   <div class="container backgroundBlue col-12">
		   	<div class="row">
        <div class="col-md-12 borde3"> </div>
        <div class="col-md-12 borde3"> </div>   
    	  </div>
		   	<div class="col-12 fontb"> 
         <p>SOLICITUDES DE ACTUALIZACIÓN</p>
      </div>
     <div class="backgroundDarkGreen col-12">
    
  <div class="backgroundDark">
    <div class="colum">
        <div class=" col-12 fonta">
            <p> RECIBIDAS</p>
            </div>
            
             <div class="backgroundWhite col-12">
               <div class="row">
                  <div class="fontc col-8">
                      <p >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facere minus odio placeat, ducimus eos tempora cupiditate iste autem, blanditiis eius laudantium ab pariatur fugiat nesciunt id quaerat maiores provident.
                        </p>
                   </div>
                   <div class="colum col-3">
                      <div class="form-group">
                          <input type="date" name="bday" max="3000-12-31" 
                                 min="1000-01-01" class="form-control">
                      </div>
                      <div class="backgroundDarkC">
                           <div class="fontd"> 
                            <p>
                            INFORMACIÓN <br>
                            COMPLETA
                            </p>
                           </div>
                      </div>
                 </div>
               </div>
            </div>
            <div class="backgroundWhite">
                <div class="row">
                   <div class="fontc col-8">
                       <p >
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facere minus odio placeat, ducimus eos tempora cupiditate iste autem, blanditiis eius laudantium ab pariatur fugiat nesciunt id quaerat maiores provident.
                         </p>
                    </div>
                    <div class="colum col-3">
                       <div class="form-group">
                           <input type="date" name="bday" max="3000-12-31" 
                                  min="1000-01-01" class="form-control">
                       </div>
                       <div class="backgroundDarkC">
                            <div class="fontd"> 
                             <p>
                             INFORMACIÓN <br>
                             COMPLETA
                             </p>
                            </div>
                       </div>
                  </div>
                </div>
             </div>
        </div>
    </div>
    </div>
	  <app-footer></app-footer>

  </div>
</div>




